* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  -o-user-select: none;
  user-select: none;
}
.t {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
html {
  overflow-y: scroll;
}
html,
button,
input,
select,
textarea {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
body {
  font-size: 100%;
  line-height: 1.5;
  text-align: center;
  background: #f47171;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.bold {
  font-weight: 700;
}
a,
a:visited,
a img,
a:visited img {
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
a:hover,
a:visited:hover,
a img:hover,
a:visited img:hover {
  opacity: .8;
}
a:focus,
a:visited:focus,
a img:focus,
a:visited img:focus,
a:active,
a:visited:active,
a img:active,
a:visited img:active {
  opacity: .5;
}
.feature {
  max-width: 780px;
  width: 75%;
  margin: 10% auto 0;
  position: relative;
}
#t-hi {
  position: absolute;
  width: 100%;
}
#t-jhil {
  width: 100%;
}
ul {
  margin: 40px auto 0;
  text-align: center;
  padding: 0;
}
ul li {
  display: inline-block;
  color: #ffffff;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}
ul li a,
ul li a:visited {
  display: block;
  padding: 10px 20px;
  line-height: 3;
  text-decoration: none;
  color: #ffffff;
}
ul li a:hover,
ul li a:visited:hover {
  content: attr(description);
}
ul.links-social {
  margin-top: 0;
}
ul.links-social li a {
  padding: 20px;
  margin: 0;
}
ul.links-social li a img {
  display: block;
}
footer,
.footer {
  margin-top: 40px;
  font-size: 12px;
  -webkit-user-select: text;
  /* Chrome all / Safari all */
  -moz-user-select: text;
  /* Firefox all */
  -ms-user-select: text;
  /* IE 10+ */
  -o-user-select: text;
  user-select: text;
}
::-moz-selection {
  background: #ffffff;
  text-shadow: none;
}
::selection {
  background: #ffffff;
  text-shadow: none;
}
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .feature {
    width: 50%;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .feature {
    margin-top: 20%;
    width: 75%;
  }
  ul.links-main li {
    display: block;
  }
}
@-webkit-keyframes flicker {
  00% {
    opacity: 0;
  }
  06% {
    opacity: 1;
  }
  12% {
    opacity: 0;
  }
  18% {
    opacity: 1;
  }
  24% {
    opacity: 0;
  }
  72% {
    opacity: 0;
  }
  78% {
    opacity: 1;
  }
  84% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flicker {
  00% {
    opacity: 0;
  }
  06% {
    opacity: 1;
  }
  12% {
    opacity: 0;
  }
  18% {
    opacity: 1;
  }
  24% {
    opacity: 0;
  }
  72% {
    opacity: 0;
  }
  78% {
    opacity: 1;
  }
  84% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#t-hi {
  -webkit-animation: fadeInUp .75s ease;
  -moz-animation: fadeInUp .75s ease;
  -o-animation: fadeInUp .75s ease;
  animation: fadeInUp .75s ease;
  -webkit-animation-delay: .25s;
  animation-delay: .25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
#t-jhil {
  -webkit-animation: fadeInUp .75s ease;
  -moz-animation: fadeInUp .75s ease;
  -o-animation: fadeInUp .75s ease;
  animation: fadeInUp .75s ease;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.links-main {
  -webkit-animation: fadeInUp .75s ease;
  -moz-animation: fadeInUp .75s ease;
  -o-animation: fadeInUp .75s ease;
  animation: fadeInUp .75s ease;
  -webkit-animation-delay: 2.25s;
  animation-delay: 2.25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.links-social {
  -webkit-animation: fadeInUp .75s ease;
  -moz-animation: fadeInUp .75s ease;
  -o-animation: fadeInUp .75s ease;
  animation: fadeInUp .75s ease;
  -webkit-animation-delay: 2.375s;
  animation-delay: 2.375s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.footer {
  -webkit-animation: fadeIn 1s ease;
  -moz-animation: fadeIn 1s ease;
  -o-animation: fadeIn 1s ease;
  animation: fadeIn 1s ease;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* Let's get this party started */
::-webkit-scrollbar {
  width: 4px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #f2f2f2;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #f2f2f2;
}
